<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key><string>English</string>
  <key>CFBundleExecutable</key><string>PitchTrails</string>
  <key>CFBundleGetInfoString</key><string>Valley Spirit 0.2.0</string>
  <key>CFBundleIdentifier</key><string>com.wavefactoryessentials.clap.PitchTrails</string>
  <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
  <key>CFBundleName</key><string>Valley Spirit</string>
  <key>CFBundlePackageType</key><string>BNDL</string>
  <key>CFBundleShortVersionString</key><string>0.2.0</string>
  <key>CFBundleSignature</key><string>WfPt</string>
  <key>CFBundleVersion</key><string>0.2.0</string>
  <key>CSResourcesFileMapped</key><true/>
  <key>LSMinimumSystemVersion</key><string>11.0</string>
</dict>
</plist>
